.nav-item {
  text-align: center;
  width: auto;
}

.nav-link {
  font-size: 110%;
  color: #212529;
  font-weight: bold;
}
@media (max-width: 850px) {
  .nav-link {
    font-size: 70%;
  }
}
.nav-link.active,
.nav-link:hover {
  color: #5a6066;
}
.about-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 7rem;
}

@media (max-width: 575px) {
  .about-page {
    padding: 1.5rem;
    margin-top: 1rem !important;
  }
}
.logo {
  opacity: 0;
  transform: translateY(-100px);
  animation: slideIn 1.5s forwards;
}

.image1 {
  animation: moveInLeft 1.5s forwards;
}

.image2 {
  animation: moveInBottom 1.5s forwards;
}

.image3 {
  animation: moveInRight 1.5s forwards;
}

.logo img {
  width: 32%;
  height: auto;
}
@media (max-width: 575px) {
  .logo img {
    width: 28%;
    margin-top: 1rem;
  }
}
.form {
  width: 100%;
}

.searchbox {
  width: 100%;
  font-size: 68%;
  color: #1f221b;
  background-size: 11px 11px;
  background-image: url("assets/icon.png");
  background-repeat: no-repeat;
  background-position: 8px center;
  padding-left: 1.55rem;
  height: 2rem;
  border: #1f221b solid 1px;
  border-radius: 0.3rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
@media (max-width: 575px) {
  .searchbox {
    width: 75%;
    margin-top: 2rem;
    font-size: 60%;
  }
}

.responsive-image {
  width: 40%;
  height: 62%;
  margin: 0 auto;
  display: block;
}
@media (max-width: 575px) {
  .responsive-image {
    justify-content: center;
    width: 13%;
    height: 50%;
  }
}
.linkss {
  text-decoration: none;
}
.btn-infoo {
  font-size: 90%;
  background-color: #3f474f;
  color: #ffffff;
  padding: 0.4rem 0.8rem;
  border-radius: 0.6rem;
  width: auto;
  max-width: 200px;
  margin: 0 auto;
  font-weight: bolder;
  display: block;
}

.btn-infoo:hover {
  color: #ffffff;
  cursor: pointer;
  font-weight: bolder;
  background-color: #222429;
}

.btn-infoo p {
  font-weight: 400;
  margin-bottom: 0;
  font-size: 70%;
}

@media (max-width: 900px) {
  .btn-infoo {
    font-size: 60%;
    padding: 0.3rem;
    max-width: 100px;
    margin: 15px auto;
  }
  .btn-infoo p {
    font-size: 90%;
  }
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}
@media (max-width: 575px) {
  .footer {
    position: relative;
  }
}
@media (max-height: 700px) {
  .footer {
    position: relative;
  }
}
.copyright {
  font-size: 60%;
}
.footer h5 {
  font-size: 60%;
  font-weight: 600;
}
@media (max-width: 575px) {
  .footer h5 {
    font-size: 50%;
  }
}
.footer .links {
  width: 3.5%;
  margin: 0 8px;
  display: inline-block;
}

@media (max-width: 575px) {
  .footer .links {
    width: 5%;
  }
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  80% {
    transform: translateY(-0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  background-color: rgb(248, 249, 250);
  color: black;
}
